@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 20% 92%;
    --foreground: 0 0% 0%;
    --border: 40 15% 80%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --accent: 40 10% 50%;
    --accent-foreground: 0 0% 0%;
    --muted: 40 15% 85%;
    --muted-foreground: 0 0% 30%;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 40 20% 92%;
    --border: 0 0% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --accent: 40 10% 50%;
    --accent-foreground: 40 20% 92%;
    --muted: 0 0% 18%;
    --muted-foreground: 0 0% 70%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply min-h-screen bg-background text-foreground;
  }
}

@layer components {
  .title-font {
    @apply font-semibold uppercase tracking-wide;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
  }

  .content-font {
    @apply font-medium;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
}
